* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: hsl(0, 0%, 8%);
}

.card {
    background-color: hsl(0, 0%, 12%);
    color: hsl(0, 0%, 100%);
    width: 90%;
    max-width: 350px;
    margin: auto;
}

.profile-avatar {
    display: block;
    margin: auto;
    border-radius: 250px;
    width: 25%;
    max-width: 80px;
}

.card button {
    background-color: hsl(0, 0%, 20%);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
